<%- include("partials/header") -%>

<div class="container">

  <header>
    <a href="/" class="logo">sendapoem</a>

    <nav>
      <ul>
        <li><a href="/">home</a></li>
        <li><a href="#">about</a></li>
      </ul>
    </nav>
  </header>

  <section class="hero">
    <img src="images/poem.svg" class="poem-icon" alt="Poem on a piece of paper signed with a heart.">
    <div>
      <h1>Send a Custom Poem to Someone You Care About.</h1>
      <p class="subhead">Need something heartwarming to write in a card? Just want to make somebody's day? Fill out the form below and generate a custom poem for free. 🙂 </p>
    </div>
  </section>
</div>

  <div class="container">
    <form action="/" method="post">

      <div class="select-style">
        <select name="person">
        <option value="" disabled selected>Person</option>
        <option value="mother">Mother</option>
        <option value="father">Father</option>
        <option value="significant-other">Significant Other</option>
        <option value="friend">Friend</option>
        </select>
      </div>

      <div class="select-style">
        <select name="mood">
        <option value="" disabled selected>Mood</option>
        <option value="general-thanks">General Thanks</option>
        <option value="birthday">Birthday</option>
        <option value="romantic">Romantic</option>
        <option value="anger">Anger</option>
        </select>
      </div>

      <input type="text" name="name" placeholder="Your Name" autocomplete="off">

      <button type="submit" name="button">Generate!</button>

    </form>
  </div>

<%- include("partials/header") -%>
